.hero {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right top, rgba(11, 15, 20, 0.641), rgba(11, 20, 22, 0.567), rgba(14, 23, 23, 0.275), rgba(20, 26, 22, 0.624), rgba(26, 28, 22, 0.618)), url("https://cdn.website.dish.co/media/96/a4/4901057/Restaurant-Bar-Geradeaus-essen-im-westen-rib-eye-steak-100-v-HintergrundL-jpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}